

.CustomButtonBackGround {
  background-color: rgb(229,57,80);
  color: white;
}

.CustomButtonBorder {
  border-color: rgb(229,57,80);
  color: rgb(229,57,80);
}

.CustomButtonText {
  color: rgb(229,57,80);
}